:root {
  --main-blue-color: #4d5ae5;
  --second-color: #2e2f42;
  --light-color: #f4f4fd;
  --accent-color: #404bbf;
  --white-color: #ffffff;
  --main-color: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-family: var(--second-font);
  color: var(--main-blue-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-second-part-dark {
  color: var(--second-color);
}

.logo-second-part-light {
  color: var(--light-color);
}

.navigation-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.navigation-btn:hover,
.navigation-btn:focus {
  color: var(--accent-color);
}

.email-tel {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.email-tel:hover,
.email-tel:focus {
  color: var(--accent-color);
}

.contact-information {
  font-style: normal;
}

.hero {
  background-color: var(--second-color);
}

.hero-tittle {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  background-color: var(--second-color);
  text-align: center;
}

.hero-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--main-blue-color);
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.features-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-transform: capitalize;
}

.work-photo {
  background-color: var(--white-color);
}

.team {
  background-color: var(--light-color);
}
.team-container {
  background-color: var(--white-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-transform: capitalize;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-photo {
  background-color: var(--white-color);
}

.filtr-btn {
  color: var(--main-blue-color);
  background-color: var(--light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
.filtr-btn:hover,
.filtr-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-footer {
  background-color: var(--second-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}
